

@font-face {
	font-family: montserrat;
	src: url(Montserrat.ttf);
}

@font-face {
	font-family: Greycliff;
	src: url(Greycliffcf.otf);
}

@font-face {
	font-family: Gilroy;
	src: url(Gilroy.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden!important;
}

strong {
	color: black;
}

.navbar,
.navbar>.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 768px) {
		display: block;
	}
}

.navbar {
	background-color: white;
	padding: 0.5rem 1rem;
}

.container {
	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 720px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}

.navbar-container {
	display: flex;
}

.menu-icon {
	display: flex;
	margin-left: auto;
	margin-right: 50px;
	cursor: pointer;
}

.holder img {
	margin-top: auto;
	margin-bottom: auto;
}

.introduction {
	margin-top: auto;
	margin-bottom: auto;
}

.introduction-container {
	margin-left: 50px;
	display: flex;
}

.intro-header-one {
	font-size: 60px;
	font-family: Gilroy;
	color: #0025fa;
}

.intro-header-two {
	margin-left: 8px;
	color: #000000;
	font-size: 60px;
	font-family: 'Cormorant Garamond', serif;
}

.intro-header-three {
	margin-left: 8px;
	color: #000000;
	font-size: 60px;
	font-family: Gilroy;
}

.intro-header-four {
	margin-left: 8px;
	color: #0025fa;
	font-size: 60px;
	font-family: Gilroy;
}

.intro-paragraph {
	margin-top: 30px;
	margin-left: 50px;
	font-family: montserrat;
	color: rgb(124, 124, 124);
}

.sub-container {
	margin-top: 80px;
	display: flex;
}

.sub-header-one {
	font-family: Gilroy;
	font-size: 20px;
	margin-left: 50px;
	color: #0025fa;
}

.sub-header-two {
	margin-left: 10px;
	font-family: Gilroy;
	font-size: 20px;
	color: black;
}

.sub-header-three {
	font-family: Gilroy;
	font-size: 20px;
	margin-left: 5px;
	color: #0025fa;
}

.hand {
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-top: 10px;
	animation: hand-waving 8s infinite;
	transform-origin: 75% 75%;
}

@-moz-keyframes hand-waving {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(25deg);
	}
	6% {
		transform: rotate(-25deg);
	}
	8% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes hand-waving {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(25deg);
	}
	6% {
		transform: rotate(-25deg);
	}
	8% {
		transform: rotate(0deg);
	}
}

@-o-keyframes hand-waving {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(25deg);
	}
	6% {
		transform: rotate(-25deg);
	}
	8% {
		transform: rotate(0deg);
	}
}

@keyframes hand-waving {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(25deg);
	}
	6% {
		transform: rotate(-25deg);
	}
	8% {
		transform: rotate(0deg);
	}
}

.icons {
	margin-top: 40px;
	margin-left: 50px;
}

.social-icons-two,
.social-icons-three,
.social-icons-four {
	margin-left: 15px;
}

.icons img {
	cursor: pointer;
}

.icons a {
	text-decoration: none;
}

hr {
	width: 200px;
	height: 3px;
	border: none;
	margin-top: 40px;
	margin-left: 50px;
	background: black;
	float: left;
}

.blog-slider {
	width: 95%;
	position: absolute;
	font-family: Greycliff;
	max-width: 800px;
	margin-top: -100px;
	margin-left: 300px;
	background: #fff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	transition: all 0.3s;
}

@media screen and (max-width: 992px) {
	.blog-slider {
		max-width: 680px;
		height: 400px;
	}
}

@media screen and (max-width: 768px) {
	.blog-slider {
		min-height: 500px;
		height: auto;
		margin: 180px auto;
	}
}

@media screen and (max-height: 500px) and (min-width: 992px) {
	.blog-slider {
		height: 350px;
	}
}

.blog-slider__item {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.blog-slider__item {
		flex-direction: column;
	}
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
	opacity: 1;
	transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>* {
	opacity: 1;
	transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
	transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
	transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
	transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
	transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
	transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
	transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
	transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
	transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
	transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
	transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
	transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
	transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
	transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
	transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
	transition-delay: 1.7s;
}

.blog-slider__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
}

.blog-slider__img:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	opacity: 0.8;
}

.blog-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0;
	border-radius: 20px;
	transition: all 0.3s;
}

@media screen and (max-width: 768px) {
	.blog-slider__img {
		transform: translateY(-50%);
		width: 90%;
	}
}

@media screen and (max-width: 576px) {
	.blog-slider__img {
		width: 95%;
	}
}

@media screen and (max-height: 500px) and (min-width: 992px) {
	.blog-slider__img {
		height: 270px;
	}
}

.blog-slider__content {
	padding-right: 25px;
}

@media screen and (max-width: 768px) {
	.blog-slider__content {
		margin-top: -80px;
		text-align: center;
		padding: 0 30px;
	}
}

@media screen and (max-width: 576px) {
	.blog-slider__content {
		padding: 0;
	}
}

.blog-slider__content>* {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.4s;
}

.blog-slider__code {
	color: #7b7992;
	margin-bottom: 15px;
	display: block;
	font-weight: 500;
}

.blog-slider__title {
	font-size: 24px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 20px;
}

.blog-slider__text {
	color: #4e4a67;
	margin-bottom: 30px;
	line-height: 1.5em;
}

.blog-slider__button {
	display: inline-flex;
	background-image: linear-gradient(147deg, #0025fa 0%, #3b3eff 74%);
	padding: 15px 35px;
	border-radius: 50px;
	color: #fff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
	.blog-slider__button {
		width: 100%;
	}
}

.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}

.blog-slider__pagination {
	position: absolute;
	z-index: 21;
	right: 20px;
	width: 11px !important;
	text-align: center;
	left: auto !important;
	top: 50%;
	bottom: auto !important;
	transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
	.blog-slider__pagination {
		transform: translateX(-50%);
		left: 50% !important;
		top: 205px;
		width: 100% !important;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 8px 0;
}

@media screen and (max-width: 768px) {
	.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 5px;
	}
}

.blog-slider__pagination .swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	display: block;
	border-radius: 10px;
	background: #062744;
	opacity: 0.2;
	transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background: #0025fa;
	height: 30px;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

@media screen and (max-width: 768px) {
	.blog-slider__pagination .swiper-pagination-bullet-active {
		height: 11px;
		width: 30px;
	}
}

.shader-experiment {
	color: white;
	margin: 0;
	text-align: center;
	background-color: gray;
}

.shader-experiment canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.shader-experiment p {
	color: rgba(255, 255, 255, 0.5)
}

.shader-container h1 {
	font-size: 50px;
	color: white;
}

.shader-container p {
	color: white;
}



.waves {
	margin-left: 50px;
}

  .waves svg {
	width: 80px;
	height: 40px;
  }
  @media (min-width: 1600px) {
	.waves svg {
	  width: 70px;
	  height: 15px;
	}
  }
  .waves svg > * {
	fill: none;
	stroke: #0025fa;
	stroke-width: 5px;
  }

.disable-selection {
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer */
	-khtml-user-select: none;
	/* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none;
	/* Chrome, Safari, and Opera */
	-webkit-touch-callout: none;
	/* Disable Android and iOS callouts*/
}

.footer {
	padding-top: 100px;
	padding-right: 25px;
	padding-bottom: 100px;
	padding-left: 25px;
	background: #00006E;
}

@media print {
	.footer {
		display: none;
	}
}

html.experience .footer {
	display: none;
}

html.home .footer,
html.studentsWorks .footer,
html.studentsWorksSingle .footer,
html.twitterContests .footer {
	background: #00006E;
}

@media (max-width: 800px) {
	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 600px) {
	.footer {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.footer .inner {
	display: flex;
	justify-content: space-between;
	max-width: 1180px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #fff;
}

@media (max-width: 1050px) {
	.footer .inner {
		flex-wrap: wrap;
		padding: 25px;
	}
}

@media (max-width: 800px) {
	.footer .inner {
		flex-direction: column;
		padding: 20px;
	}
}

@media (max-width: 600px) {
	.footer .inner {
		padding: 15px;
	}
}

@media (max-width: 400px) {
	.footer .inner {
		padding: 10px;
	}
}

.footer .column {
	font-size: 16px;
	text-align: left;
	margin-right: 4em;
}

.footer .column:last-child {
	margin-right: 0;
}

@media (max-width: 1050px) {
	.footer .column {
		margin-right: 3em;
		margin-bottom: 2em;
	}
}

@media (max-width: 800px) {
	.footer .column {
		margin-right: 2em;
	}
}

@media (max-width: 600px) {
	.footer .column {
		margin-right: 1.5em;
	}
}

@media (max-width: 400px) {
	.footer .column {
		margin-right: 1em;
	}
}

.footer .column .column-title {
	margin-bottom: 1em;
	font-family: Gilroy;
	font-weight: 700;
	font-size: 18px;
}

@media (max-width: 1050px) {
	.footer .column .column-title {
		margin-bottom: 0.75em;
	}
}

@media (max-width: 800px) {
	.footer .column .column-title {
		margin-bottom: 0.5em;
	}
}

.footer .column .column-title:not(:first-child) {
	margin-top: 1.5em;
}

.footer .column .separator {
	display: block;
	width: 45px;
	height: 1px;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	background: #fff;
	opacity: 0.2;
}

.footer .column .icon {
	position: relative;
	margin-right: 6px;
}

.footer .column .icon.email {
	display: inline-block;
	top: 3px;
	width: 14px;
	height: 14px;
}

.footer .column .icon.twitter {
	display: inline-block;
	top: 1px;
	width: 13px;
	height: 11px;
	margin-right: 7px;
}

.footer .column .icon.discord {
	top: 2px;
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 8px;
}

.footer .column .icon.gift {
	top: 1px;
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 6px;
}

.footer .column .icon svg {
	width: 100%;
	height: 100%;
}

.footer .column .icon svg * {
	fill: #8b8b8b;
}

@media (max-width: 1050px) {
	.footer .column.is-logo {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.footer .column.is-logo {
		width: auto;
	}
}

.footer .column.is-logo .main-logo {
	position: relative;
	align-items: flex-start;
}

.footer .column.is-logo .copyright {
	position: absolute;
	top: 20px;
	left: 45px;
	font-size: 12px;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	outline: none;
}

a:hover {
	text-decoration: none;
}

section.start a,
ul,
li:hover {
	color: inherit;
	outline: none;
}

section.start {
	position: relative;
	color: #fff;
}

section.start .background {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	background: #00006E;
}

section.start .content {
	display: flex;
	position: relative;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	padding-right: 120px;
	padding-bottom: 80px;
	padding-left: 120px;
	background: #0025fa;
	border-radius: 14px;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1300px) {
	section.start .content {
		width: auto;
		margin-right: 50px;
		margin-left: 50px;
		padding-top: 60px;
		padding-right: 90px;
		padding-bottom: 60px;
		padding-left: 90px;
	}
}

@media (max-width: 1050px) {
	section.start .content {
		margin-right: 40px;
		margin-left: 40px;
		padding-top: 50px;
		padding-right: 60px;
		padding-bottom: 50px;
		padding-left: 60px;
	}
}

@media (max-width: 800px) {
	section.start .content {
		margin-right: 30px;
		margin-left: 30px;
		padding-top: 50px;
		padding-right: 40px;
		padding-bottom: 40px;
		padding-left: 40px;
	}
}

@media (max-width: 600px) {
	section.start .content {
		display: block;
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 50px;
		padding-right: 20px;
		padding-bottom: 30px;
		padding-left: 20px;
		text-align: center;
	}
}

section.start .texts .section-title {
	margin-bottom: 0.35em;
}

section.start .texts .section-sub-title {
	color: #fff;
}

@media (max-width: 600px) {
	section.start .texts .section-sub-title {
		margin-bottom: 1.5em;
	}
}

section.start .texts .section-sub-title span {
	opacity: 0.6;
}

section.start .button {
	margin-right: 0;
}

section.start .illustration {
	position: absolute;
	top: -28px;
	left: 8%;
}

@media (max-width: 1300px) {
	section.start .illustration {
		top: -50px;
	}
}

section.start .join-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.start .join-group .gift {
	padding: 12px 42px 0 42px;
	font-size: 16px;
}

section.start .join-group .gift .gift-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
}

section.start .join-group .gift .gift-icon svg {
	width: 100%;
	height: 100%;
}

section.start .join-group .gift .gift-icon svg * {
	fill: #fff;
}

.text {
	color: #fff;
}

.button {
	display: inline-flex;
	position: relative;
	height: 47px;
	margin-right: 20px;
	border-radius: 8px;
	background: #272727;
	flex-direction: row;
	align-items: center;
	color: #fff;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(#fff, #000);
}

@media (max-width: 800px) {
	.button {
		margin-right: 15px;
	}
}

@media (max-width: 600px) {
	.button {
		margin-right: 10px;
	}
}

.button.is-white {
	background: #fff;
	color: #01167F;
}

.button.is-white .label {
	opacity: 1;
}

@media (max-width: 400px) {
	.button.is-white .label {
		margin-left: 15px;
	}
}

@media (max-width: 400px) {
	.button.is-white .label {
		margin-right: 15px;
	}
}

.button.is-white .hover {
	background: #705df2;
	opacity: 0.035;
}

.button.is-main-join {
	height: 72px;
	border-radius: 36px;
	box-shadow: 0px 24px 74px rgba(60, 0, 189, 0.16);
	-webkit-mask-image: none;
}

@media (max-width: 1600px) {
	.button.is-main-join {
		height: 68px;
	}
}

@media (max-width: 1300px) {
	.button.is-main-join {
		height: 64px;
	}
}

@media (max-width: 1050px) {
	.button.is-main-join {
		height: 60px;
	}
}

.button.is-main-join:hover .price {
	opacity: 0.8;
}

.button.is-main-join:hover .price .vat {
	opacity: 1;
}

.button.is-main-join .label {
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Greycliff';
	font-weight: 700;
	font-size: 20px;
}

@media (max-width: 1600px) {
	.button.is-main-join .label {
		margin-left: 38px;
		margin-right: 38px;
	}
}

@media (max-width: 1300px) {
	.button.is-main-join .label {
		margin-left: 36px;
		margin-right: 36px;
	}
}

@media (max-width: 1050px) {
	.button.is-main-join .label {
		margin-left: 34px;
		margin-right: 34px;
		font-size: 19px;
	}
}

@media (max-width: 800px) {
	.button.is-main-join .label {
		font-size: 18px;
	}
}

.button.is-main-join .vertical-separator {
	display: block;
	position: relative;
	left: -4px;
	width: 1px;
	height: 100%;
	background: #705df2;
	opacity: 0.1;
}

.button.is-main-join .price {
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 14px;
	font-family: 'Greycliff';
	font-weight: 700;
	font-size: 26px;
	opacity: 0.6;
	transition: opacity 0.3s;
}

@media (max-width: 1050px) {
	.button.is-main-join .price {
		padding-right: 18px;
		padding-left: 18px;
		font-size: 24px;
	}
}

@media (max-width: 800px) {
	.button.is-main-join .price {
		padding-right: 16px;
		padding-left: 16px;
		font-size: 22px;
	}
}

.button.is-main-join .price .vat {
	position: absolute;
	top: calc(50% + 0.85em);
	left: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.3s;
}

.button.is-main-join .hover {
	opacity: 0.035;
}

.loader {
	background: rgb(255, 255, 255);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
}

.loader-inner {
	bottom: 0;
	height: 60px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

.loader-line-wrap {
	animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
	box-sizing: border-box;
	height: 50px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform-origin: 50% 100%;
	width: 100px;
}

.loader-line {
	border: 4px solid transparent;
	border-radius: 100%;
	box-sizing: border-box;
	height: 100px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

.loader-line-wrap:nth-child(1) {
	animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
	animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
	animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
	animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
	animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
	border-color: #0000F0;
	height: 90px;
	width: 90px;
	top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
	border-color: #03034e;
	height: 76px;
	width: 76px;
	top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
	border-color: #4d4df7;
	height: 62px;
	width: 62px;
	top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
	border-color: #3c3cb8;
	height: 48px;
	width: 48px;
	top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
	border-color: #00258a;
	height: 34px;
	width: 34px;
	top: 35px;
}

@keyframes spin {
	0%,
	15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

