<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js"></script>
    <script src="https://unpkg.com/three@0.139.0/examples/jsm/controls/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" href="../Files/Illustrations/tab-logo.svg">
    <link rel="stylesheet" href="../Style/legal.css">
    <title>Ashkan Ebtekari</title>
  </head>
  <header>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="#">
            <img src="../Files/Illustrations/logo.svg" width="300" height="50"></img>
          </a>
        </div>
        <div class="menu" id="myNav">
          <a href="#" class="closebtn" onclick="closeNav()">
            <img src="../Files/Illustrations/close.svg" alt="close_btn">
          </a>
          <div class="page-menu">
            <div class="link">
                  <a href="/App/Main" onclick="closeNav()"><span>H</span><span class="Home-span-1">o</span><span>m</span><span class="Home-span-2">e</span></a>
                  <a href="/App/Main/articles.html" onclick="closeNav()"><span class="about-span-1">A</span><span>r</span><span class="about-span-2">t</span>i<span class="about-span-2">c</span><span>l</span><span class="about-span-2">e</span><span>s</span></a>
                  <a href="/App/Main/talks.html"><span>T</span><span class="social-span-1">a</span><span>l</span><span class="social-span-2">k</span><span>s</span></a>
                  <a href="/App/Main/projects.html" onclick="closeNav()"><span class="about-span-1">P</span><span>r</span><span class="about-span-2">o</span>j<span class="about-span-2">e</span><span>c</span><span class="about-span-2">t</span><span>s</span></a>
               </div>
            <div class="icons-menu">
              <a href="https://linkedin.com/in/ashkan-ebtekari" target="_blank">
                <img class="social-icons-one" src="../Files/Illustrations/linkedin.svg" width="32" height="32">
              </a>
              <a href="https://github.com/Chamepp" target="_blank">
                <img class="social-icons-two" src="../Files/Illustrations/github.svg" width="32" height="32">
              </a>
              <a href="https://ashkan-ebtekari.medium.com" target="_blank">
                <img class="social-icons-three" src="../Files/Illustrations/medium.svg" width="32" height="32">
              </a>
              <a href="https://twitter.com/Ashkan__E" target="_blank">
                <img class="social-icons-four" src="../Files/Illustrations/twitter.svg" width="32" height="32">
              </a>
            </div>
          </div>
        </div>
        <a href="#" class="menu-link" onclick="openNav()">
          <img src="../Files/Illustrations/menu.png" alt="menu">
        </a>
      </div>
    </nav>
  </header>
  <body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <div class="page-banner" data-aos="zoom-out" data-aos-duration="1500">
      <span class="page-header-one"> A </span>
      <span class="page-header-two"> r </span>
      <span class="page-header-three"> t </span>
      <span class="page-header-four"> i </span>
      <span class="page-header-five"> c </span>
      <span class="page-header-six"> l </span>
      <span class="page-header-seven"> e </span>
      <span class="page-header-eight"> s </span>
      <span> &#128478 </span>
    </div>
    <div class="page-description">
      <a href="/App/Main">
        <h1>
          <i class="bi bi-arrow-left"></i> Back
        </h1>
      </a>
      <div class="timeline-container">
        <div class="box">
          <div class="container-3"></div>
        </div>
        <div class="rightbox">
          <div class="rb-container">
            <ul class="rb">
              <li class="rb-item" ng-repeat="itembx" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="1000" data-aos-anchor-placement="center-bottom">
                <div class="timestamp"> 14th Jan 2022 </div>
                <div class="item-title">
                  <a href="https://studentsxstudents.com/a-dream-come-true-how-gpt-3-algorithm-can-change-the-ai-world-e8ef9d3d63d7?source=user_profile---------0----------------------------">A Dream Come True <br /> Experts Discuss the Future <br />of Robots Talking Like Humans </a>
                </div>
              </li>
              <li class="rb-item" ng-repeat="itembx" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="1000" data-aos-anchor-placement="center-bottom">
                <div class="timestamp"> 10th Mar 2021 </div>
                <div class="item-title">
                  <a href="https://ashkan-ebtekari.medium.com/the-hackers-ultimate-toolbox-5-thing-s-you-should-know-7804467a5824">The Hacker’s Ultimate Toolbox <br />5 thing’s you should know <span style="margin-left: 30px;"></span>
                  </a>
                </div>
              </li>
              <li class="rb-item" ng-repeat="itembx" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="1000" data-aos-anchor-placement="center-bottom">
                <div class="timestamp"> 17th Nov 2021 </div>
                <div class="item-title">
                  <a href="https://ashkan-ebtekari.medium.com/best-threejs-books-5b1d3555c558">Top 3 ThreeJs Books <span style="margin-left: 30px;"></span>
                  </a>
                </div>
              </li>
              <li class="rb-item" ng-repeat="itembx" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="1000" data-aos-anchor-placement="center-bottom">
                <div class="timestamp"> 20st Sep 2020 </div>
                <div class="item-title">
                  <a href="https://ashkan-ebtekari.medium.com/by-pass-two-factor-authentication-7c9ba9c27797">By Pass Two-Factor-Authentication <span style="margin-left: 30px;"></span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      function openNav() {
        document.getElementById("myNav").style.width = "100%";
      }

      function closeNav() {
        document.getElementById("myNav").style.width = "0%";
      }
    </script>
  </body>
  <section class="start">
    <div class="background"></div>
    <div class="content">
      <div class="texts">
        <h2 class="section-title">Book a Call Now</h2>
        <h3 class="section-sub-title"><span>Book a </span><strong style="color: white;">Zoom</strong><span> Meeting for Discussing </span><strong style="color: white;">Projects</strong><span> and </span><strong style="color: white;">Ideas</strong><span>.</span></h3>
      </div>
      <div class="join-group">
        <a href="https://calendly.com/ashkan-ebtekari/30min" target="_blank" class="button is-white is-main-join" data-router-disabled="">
          <span class="hover"></span>
          <span class="label">Book a Call Now</span>
        </a>
        <a href="https://www.google.com/search?q=ashkan+ebtekari&oq=ashkan&aqs=chrome.0.69i59j69i57j35i39j69i60j69i61l2j69i65j69i60.2955j0j7&sourceid=chrome&ie=UTF-8" class="gift" data-router-disabled="">More About Me</a>
      </div>
      <img class="js-lazy lazy illustration is-loaded" src="../Files/Illustrations/tab-logo.svg" width="120" height="94">
    </div>
  </section>
  <footer class="footer">
    <div class="inner">
      <div class="column is-logo"></div>
      <div class="column is-navigation">
        <div class="column-title">Navigation</div>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/articles.html" data-router-disabled="">Articles</a>
          </li>
          <li>
            <a href="/talks.html" data-router-disabled="">Talks</a>
          </li>
          <li>
            <a href="/projects.html" data-router-disabled="">Projects</a>
          </li>
        </ul>
      </div>
      <div class="column is-navigation">
        <div class="column-title">Contact</div>
        <ul>
          <li>
            <a href="mailto:contact@ashkan-ebtekari.com" target="_blank">
              <i class="bi bi-envelope-fill"></i> contact@ashkan-ebtekari.com </a>
          </li>
          <li>
            <a href="https://github.com/Chamepp" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github"></i> Chamepp </a>
          </li>
          <li>
            <a href="https://twitter.com/Ashkan__E" target="_blank">
              <i class="bi bi-twitter"></i> Ashkan__E </a>
          </li>
        </ul>
        <div class="column-title">Other</div>
        <ul>
          <li>
            <a href="whatsapp://send?phone=+98 912 921 2536&text=Hey Ashkan !" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-whatsapp"></i> Whatsapp </a>
          </li>
        </ul>
      </div>
      <div class="column is-legal">
        <div class="column-title">Legal</div>
        <ul>
          <li>
            <a href="/legal.html" data-router-disabled="">Legal notice - Law Data About Contract</a>
          </li>
          <li>
            <a href="https://www.google.com/search?q=ashkan+ebtekari&oq=ashkan&aqs=chrome.0.69i59j69i57j35i39j69i60j69i61l2j69i65j69i60.2955j0j7&sourceid=chrome&ie=UTF-8" data-router-disabled="">More</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</html>
